<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.facebookclone">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FacebookApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Facebookclone"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText">
        <activity
            android:name=".view.mainscreen.photoeditor.EditImageActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.mainscreen.home.PickImageStoryActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.mainscreen.home.EmojiActionActivity"
            android:exported="false" />
        <activity
            android:name=".view.mainscreen.home.PickImagePostActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".view.mainscreen.home.BottomSheetHomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.mainscreen.home.ObjectPostHomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.mainscreen.home.CreatePostsActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".view.mainscreen.MainScreenActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".view.register.CreateNewPasswordActivity" />
        <activity android:name=".view.register.OtpVerificationActivity" />
        <activity android:name=".view.register.BirthdayActivity" />
        <activity
            android:name=".view.register.WhatYourNameActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.register.JoinFacebookActivity" />
        <activity android:name=".view.login.LoginActivity" />
        <activity android:name=".view.login.LoginProfileActivity" />
        <activity android:name=".view.forgotpassword.ForgotPasswordEmailActivity" />
        <activity android:name=".view.forgotpassword.ForgotPasswordMobileActivity" />
        <activity
            android:name=".view.register.WhatYourGenderActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.register.ContactEmailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.register.ContactNumberActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.register.ChoosePasswordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.register.TermAndPrivacyActivity" />
        <activity
            android:name=".view.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>