<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.htnguyen.ihealthclub">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.htnguyen.ihealthclub.ClubApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Facebookclone"
        tools:ignore="ExtraText">
        <activity
            android:name="com.htnguyen.ihealthclub.view.mainscreen.photoeditor.EditImageActivity"
            android:exported="false" />
        <activity
            android:name="com.htnguyen.ihealthclub.view.mainscreen.home.PickImageStoryActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.htnguyen.ihealthclub.view.mainscreen.home.PickImageResultActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.htnguyen.ihealthclub.view.mainscreen.home.EmojiActionActivity"
            android:exported="false" />

        <activity
            android:name="com.htnguyen.ihealthclub.view.mainscreen.home.ObjectPostHomeActivity"
            android:exported="false" />
        <activity
            android:name="com.htnguyen.ihealthclub.view.mainscreen.home.CreatePostsActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.htnguyen.ihealthclub.view.mainscreen.MainScreenActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="com.htnguyen.ihealthclub.view.register.CreateNewPasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htnguyen.ihealthclub.view.register.OtpVerificationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.htnguyen.ihealthclub.view.register.BirthdayActivity" />
        <activity
            android:name="com.htnguyen.ihealthclub.view.register.WhatYourNameActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htnguyen.ihealthclub.view.register.JoinClubActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="com.htnguyen.ihealthclub.view.login.LoginActivity" />
        <activity android:name="com.htnguyen.ihealthclub.view.login.LoginProfileActivity" />
        <activity android:name="com.htnguyen.ihealthclub.view.mainscreen.personal.EditProfileActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="com.htnguyen.ihealthclub.view.forgotpassword.ForgotPasswordMobileActivity" />
        <activity
            android:name="com.htnguyen.ihealthclub.view.register.WhatYourGenderActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.htnguyen.ihealthclub.view.register.ContactNumberActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.htnguyen.ihealthclub.view.register.ChoosePasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.htnguyen.ihealthclub.view.register.TermAndPrivacyActivity" />
        <activity
            android:name="com.htnguyen.ihealthclub.view.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>